<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        @*<a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>*@
        @*<a href="#">Register</a>
        <a href="#">Log in</a>*@
        <a href="https://reserveblock.io" target="_blank">ReserveBlock.io</a>
        <a href="https://github.com/ReserveBlockIO" target="_blank">Github</a>
    </NotAuthorized>
</AuthorizeView>
