@page "/trilliumrbx"

<div class="row-cols-md-8">
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">How Does Trillium Work with The ReserveBlock (RBX)</h3>
        <div class="row">
            <div>
                <p>
                    Trillium is the tool that drives all of the smart contract processes that power NFTs on our network. With Trillium users are able to create
                    a new era of NFT and then deploy it to the P2P network of RBX. 
                </p>
                
            </div>
        </div>
    </RadzenCard>
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">What Does RBX Do for Trillium?</h3>
        <div class="row">
            <p>
                RBX is the network layer to transport all smart contracts and perform transaction against. 
            </p>
            <br />
            <p>
                RBX is also the layer at which the SENs are executed on demand and in real time for users as needed. This is a big advancement as it eliminates the need
                for a virtual machine and no longer a need for things like gas or fees for many of the smart contract functions.
            </p>
            <br />
            <p>
                The RBX network is where you see the mint, transfer, sale, and burn of all NFTs. You will also see some specific NFT Transactions, but many NFTs can be coded 
                to be dynamic and not require the need for an on chain transaction.
            </p>
        </div>
    </RadzenCard>
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">Is Trillium already integrated into RBX Core?</h3>
        <div class="row">
            <p>
                Yes! Trillium is always maintained and kept up to date in the core cli. We also have a source generator in the GUI that will allow you to create smart contracts
                with zero programming knowledge needed!
            </p>
            <br />
            <p>
                You can see more about the core CLI here: <RadzenLink Path="https://github.com/ReserveBlockIO/ReserveBlock-Core" Text="Go to RBX Core" target="_blank" />
            </p>
        </div>
    </RadzenCard>
</div>


@code {

}
