@page "/trilliumrbx"

<div class="row-cols-md-8">
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">How Does Trillium Work with The ReserveBlock (RBX)</h3>
        <div class="row">
            <div>
                <p>
                    Trillium is the tool that drives the smart contract processes that power NFTs on the RBX network. 
                    With Trillium users can create a new era of NFTs and then deploy it to the P2P network of RBX.
                </p>
                
            </div>
        </div>
    </RadzenCard>
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">What Does RBX Do for Trillium?</h3>
        <div class="row">
            <p>
                RBX is the network layer to transport all smart contracts and perform transactions against.
            </p>
            <br />
            <p>
                RBX is also the layer at which the SENs are executed on demand and in real time for users as needed. 
                This is a big advancement as it eliminates the need for a virtual machine and no longer a need for 
                things like gas or fees for the smart contract functions.
            </p>
            <br />
            <p>
                The RBX network is where the mint, transfer, sale, and burn of all NFTs occur.  
                One will also see specific NFT Transactions, but many NFTs can be coded to be dynamic 
                and not require the need for a transaction while still maintaining the integrating on-chain.
            </p>
        </div>
    </RadzenCard>
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">Is Trillium already integrated into RBX Core?</h3>
        <div class="row">
            <p>
                Yes! Trillium is fully integrated in the core cli. There is also a source generator in the GUI that allows anyone to 
                create smart contracts with zero programming knowledge at all!
            </p>
            <br />
            <p>
                To view more about the core CLI here: <RadzenLink Path="https://github.com/ReserveBlockIO/ReserveBlock-Core" Text="Go to RBX Core" target="_blank" />
            </p>
        </div>
    </RadzenCard>
</div>


@code {

}
