@page "/whatistrillium"

<div class="row-cols-md-8">
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">What is Trillium?</h3>
        <div class="row">
            <div>
                <p>
                    Trillium is a turing complete language, object oriented language for implementing and execution of the RBX network smart contracts.
                    Trillium smart contracts also known as SENs (Self-Executing NFTs) are the programs written to create and manage NFTs on the RBX network.
                </p>
                <br />
                <p>
                    Trillium is a curly-bracket language, but can also execute in a scripting function and is designed to not need any virtual machine or cluster to exectue. 
                    It is influenced by C#, JavaScript, and Minsk.
                </p>
                 <p>
                    With Trillium you can create NFT driven smart contracts for uses such as royalty enforcement, evolving needs, multi asset collections, soulbound items, and
                    many more.
                </p>
            </div>
        </div>
    </RadzenCard>
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">How is Trillium Different from other Smart Contract Languages?</h3>
        <div class="row">
            <p>
                The first different is this is a language not taken from any current blockchain structures. It was created from multiple resources and with NFTs in mind.
                It was designed to be light weight and easily executable on a variety of platforms and applications.
            </p>
            <br />
            <p>
                The second big difference is our smart contracts do not require a virtual machine. We call them Self-Executing NFTs (SENs). These contracts have the ability to
                dynamically function when called and can modify their returned state without the need to call out or create an expensive transaction.
            </p>
            <p>
                The last and biggest difference is the NFT IS the smart contract and not a product produced from a smart contract. 
            </p>
        </div>
    </RadzenCard>
    <RadzenCard class="m-1" style="margin-bottom: 15px !important;">
        <h3 class="h3" style="color:darkturquoise;">Is Trillium Open Source?</h3>
        <div class="row">
            <p>
                Of course! Trillium, like much of our product line, was written in C#, .net 6, and is on our github.
                <RadzenLink Path="https://github.com/ReserveBlockIO/Trillium" Text="Go to Trillium" target="_blank" />
            </p>
            <br />
            <p>
                Trillium also has both a desktop and web based IDE that you can test and play around with the language.
            </p>
        </div>
    </RadzenCard>
</div>


@code {

}
